:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%) ;
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%) ;
    --Grayish-Blue: hsl(212, 23%, 69%) ;
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
*{
    font-size: 13px;
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-Grayish-Blue);
}
.header{
    max-width:350px ;
}

.header_img{
    width: 300px;
    height: 190px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.main{
    padding: 15px 15px 0px 15px;
    margin-top: -3px;
    max-width: 300px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}
.titles{
    font-size: 0.6em;
    color: var(--Very-Dark-Grayish-Blue);
    line-height: 1.5;
}
.main_description{
    color: var(--Desaturated-Dark-Blue);
    font-weight: 500;


}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin :20px 0px 20px 0px;
}
.footer-img_perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer-description{
    margin-right: 25px;

}

.footer_name{
    margin-bottom: 7px;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);

}
.footer_date{
    color: var(--Desaturated-Dark-Blue);

}
.footer-img_compartir{
    width: 20px;
    height: 20px;
}
@media (min-width: 1000px) {
    body {
        flex-direction: row;
    }
    .main{
        max-width: 500px;

    }
    
    .header_img{
        border-radius: 10px 0px 0px 10px;
        width: 270px;
        height: 273px;
    }
    .main{
        width: 315px;
        border-radius: 0px 10px 10px 0px;

    }
  }